body{
    font-family:Arial,sans-serif;
    line-height:1.6;
    margin:20px;
    background:#f0f2f5;
    color:#6d6565;
}
.heading{
    padding-left: 40%;
}
h1,h2,h3,h4{
    color:#1a237e;
}
.aboutMe,.skillInterest,.projects,.contact{
    background:#fff;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
ul{
    margin-left:20px;
}
li:hover{
    cursor: pointer;

}
.projects .project{
    margin-bottom:15px;
    padding:15px;
    border:1px solid #e1e1e1;
    border-radius:6px;
    transition:box-shadow 0.3s;
}
.projects .project:hover{
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}
a{
    color:#3498db;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.contact a{
    margin-right:10px;
    margin-top:5px;
}